<div id="top_bar">
  <img src="/rsrc/logo.png" height="25px" style="margin-top: 10px;">
  <div id="login" onclick="location.href = 'login'"><img src="/rsrc/login.png" height="25px"></img></div>
</div>
