<div id="logform">
<form action="/LogInIN" method="POST">
    <div class="control-group col-xs-12 col-md-12" style="padding-left: 20px; padding-right: 20px; margin-bottom: 8px;">
      <input type="text" value='' class="form-control" name="mail" placeholder="E-mail">
    </div>
    <div class="control-group col-xs-12 col-md-12" style="padding-left: 20px; padding-right: 20px; margin-bottom: 8px;">
      <input type="password" value='' class="form-control" name="haslo" placeholder="Hasło">
    </div>
    <input class="btn" type="submit" value="Zaloguj"></input>
</form>
</div>
<%# TODO: zamienic na style css %>
