<div id="baner_bar" style='margin-top:0 !important;'>

  <div id="action_bar">
    <form action="/search" method="get">
        <div class="control-group col-xs-12 col-md-5" style="padding-bottom: 1%">
          <input type="text" value='' class="form-control" name="q" placeholder="Szukaj...">
        </div>
        <div class="control-group col-xs-12 col-md-3" style="padding-bottom: 1%">
          <select name="local" class="selectpicker" data-width="100%">
            <option value="" title="lokalizacja" style="color:gray">Wszędzie</option>
            <option value="1">Dolnośląskie</option>
            <option value="2">Kujawsko-Pomorskie</option>
            <option value="3">Lubelskie</option>
            <option value="4">Lubuskie</option>
            <option value="5">Łódzkie</option>
            <option value="6">Małopolskie</option>
            <option value="7">Mazowieckie</option>
            <option value="8">Opolskie</option>
            <option value="9">Podkarpackie</option>
            <option value="10">Podlaskie</option>
            <option value="11">Pomorskie</option>
            <option value="12">Śląskie</option>
            <option value="13">Świętokrzyskie</option>
            <option value="14">Warmińsko-Mazurskie</option>
            <option value="15">Wielkopolskie</option>
            <option value="16">Zachodniopomorskie</option>
          </select>

        </div>
        <div class="form-group col-xs-12 col-md-3" style="padding-bottom: 1%">
          <select name="cat" class="selectpicker" data-width="100%">
            <% categories.forEach(function(category) { %>
        			<option><%= category.name %></option>
        		<% }); %>
          </select>

        </div>
        <input type="submit" value="Szukaj!" class="btn"></input>
      </form>
  </div>
</div>
