body{
	background-color: #fcfaf4 !important;
}

#top_bar{
	padding: 10px;
	padding-top: 10px;
}

#baner_bar{
	background-size: cover;
	background-position: center;
	background-color: #fcfaf4;
	height: 500px;
	width: 400px;
}

#action_bar{
	background-color: #9cd3ed; 
	text-align: center;
	position: relative;
	width: 400px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
#box{
	position: relative;
	width: 400px;
	margin-top: 10%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#loginReg{
	display: flex;
	justify-content: center;
}

.logButt{
	background-color: #6e9cb2;
	width: 50%;
	text-align: center;
	height: 40px;
	line-height: 40px; 
}

input, label{
	display: block;
	color: #5e6060;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #fcfaf4;
    color: #5e6060;
}

::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

button{
	background-color: #ffffff;	
}
button:hover{
	background-color: #ededed;	
}
select{
	color: #696969;
	width: 90%;
    box-sizing: border-box;
    border: none;
    background-color: #ffffff;
    color: white;
}
