<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Sprzedaj Się</title>
	<link rel="shortcut icon" href="ico.ico" type="image/x-icon" />

	<% include ../elements/includes %>

</head>
<body>
 <div id="container">
	<% include ../elements/header %>

	<% include ../elements/spacer %>

	<% include ../elements/searchbar %>

	<% include ../elements/footer %>

 </div>
</body>
</html>
